<div class="container">
  <form class="form" novalidate #form="ngForm" (ngSubmit)="process()">

    <div class="form-group">

      <input type="text" name="name" class="form-control" placeholder="nom" required minlength="3" #nom="ngModel" [(ngModel)]="newItem.name">
      {{ newItem.name }}

      <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">champs invalide</div>

    </div>

    <div class="form-group">
      <input type="text" name="ref" class="form-control" placeholder="reference" required minlength="4" [(ngModel)]="newItem.reference">
    </div>

    <div class="form-group">
      <select class="form-control" name="etat" [(ngModel)]="newItem.state">
        <option *ngFor="let libelle of libelles" [ngValue]="libelle">{{ libelle }}</option>
      </select>
    </div>

    <div class="form-group">
      <button [disabled]="form.invalid" class="btn btn-primary">Valider</button>
    </div>

  </form>
</div>
