<div class="card">
  <div class="card-header">
    <span [appState]="item.state">{{ item.state }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nom : {{ item.name }}</h5>
    <p class="card-text">Ref. : {{ item.reference }}</p>

    <button class="btn btn-primary" *ngIf="state.ALIVRER === item.state" (click)="changeState(state.ENCOURS)">{{ state.ENCOURS }}</button>
    
    <button class="btn btn-primary" *ngIf="state.ENCOURS === item.state" (click)="changeState(state.LIVREE)">{{ state.LIVREE }}</button>
  </div>
</div>
